* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: #9ec8ff;
    font-family: sans-serif;
}

button {
    padding: 10px 30px;
    background-color: #4da1f0;
    border: 1px solid #000000;
    border-radius: 25px;
    font-size: 1.2rem;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 6px;
}

.carta {
    width: 250px;
    height: 350px;
    background-color: #ffff;
    margin-bottom: 50px;
    border-radius: 15px;
    /*efeito 3d*/
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
    /*position
        fixed: fixa o elemento no documento
        relative: referencia para o absolute
        absolute: fixa o elemento com referencia ao relative
        neste exemplo os elementos absolute se posionaram na classe carta e nao na classe container ou no documento*/
    position: relative;
}

.canto {
    position: absolute;
    font-size: 2rem;
    text-align: center;
}

#supEsq {
    top: 20px;
    left: 15px;
}

#infDir {
    bottom: 25px;
    right: 15px;
    transform: rotate(180deg);
}

.centro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 6rem;
}